<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= category.name %></title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <h1><%= category.name %></h1>
    <% if (category.questions && category.questions.length > 0) { %>
      <ul>
        <% category.questions.forEach(question => { %>
          <li><%= question.question_text %></li>
        <% }) %>
      </ul>
    <% } else { %>
      <p>No questions found.</p>
    <% } %>
    <a href="/questions/<%= category.id %>/add">Add a question</a>
  </body>
</html>
